body {
  font-family: "Open sans", sans-serif;
  color: #115c9b;
}

h1,
h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
}

a {
  color: inherit;
}

.main-header {
  top: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
}

a:hover, a:focus, a:active {
  color: inherit;
}

.hori {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Header
================================= */
.navbar-static-top {
  margin: 0;
  border: 0;
  color: #fff;
}

.navbar-top {
  background: black;
  font-size: 12px;
  padding: 3px 0;
}

.navbar-top .list-inline {
  margin-bottom: 0;
}

.navbar-top .header-contact li {
  margin-right: 15px;
}

.navbar-top .header-contact li .fa {
  margin-right: 5px;
}

.navbar-main {
  margin-bottom: 0;
  color: #fff;
  background: #1f76bd;
}

.navbar-main .navbar-brand {
  border-bottom: none !important;
}

.navbar-main a:hover,
.navbar-main a:active,
.navbar-main a:focus,
.navbar-main a.is-active {
  background: none !important;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.navbar-main .submenu {
  position: absolute;
  list-style: none;
  background: #1f76bd;
  padding: 0;
  width: 150px;
  left: -35px;
  visibility: hidden;
  top: 85px;
  -moz-transition: all, 0.05s;
  -o-transition: all, 0.05s;
  -webkit-transition: all, 0.05s;
  transition: all, 0.05s;
}

.navbar-main .submenu li {
  border-top: 1px solid #185b91;
}

.navbar-main .submenu li:hover {
  background: #185b91;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.navbar-main .submenu li a {
  width: 100%;
  border-bottom: none;
  text-decoration: none;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
}

.navbar-main li a {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  padding: 20px 15px;
  border-bottom: 2px solid transparent;
}

.navbar-main li:hover .submenu {
  top: 62px;
  visibility: visible;
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s;
}

.navbar-main .icon-bar {
  background: #fff;
}

/* Home Slider
================================= */
.carousel-home img {
  width: 100%;
}

#car-img {
  height: 650px;
}

.carousel-home .carousel-control {
  background: #1f76bd;
  height: 80px;
  width: 40px;
  top: 50%;
  margin-top: -40px;
  -moz-transition: width, 0.3s;
  -o-transition: width, 0.3s;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
}

.carousel-home .carousel-control .fa {
  font-size: 2.5em;
  padding-top: 12px;
}

.carousel-home .carousel-control:hover {
  width: 50px;
}

.carousel-home .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.carousel-home .carousel-title {
  color: #fff;
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-home .carousel-subtitle {
  font-size: 25px;
  text-transform: uppercase;
}

.carousel-home .btn {
  margin-top: 30px;
}

.section-home {
  margin: 30px 0;
}


/* VISION Box
=============================*/
.vision-box {
  text-align: center;
  padding: 4.5%;
  color: white;
}

.vision-box h3 {
  font-weight: bold;
}

.icon {
  margin-bottom: 1rem;
  color: #1f76bd;
}

.icon:hover {
  color: #3333ff;
}

#vision {
  padding: 7% 12%;
  background-color: #000;
}


/* Resources
================================= */
.about-section {
  background-color: black;
}

#res-img{
  width: 100%;
  border-radius: 10%;
}


.about-section h1 {
  color: white;
  font-size: 6rem;
  font-weight: 500;
}

.about {
  padding: 10px 0 0 0;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #cc1c05;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about .img-fluid {
  height: 400px;
  width: 500px;
}

.about #about-btn {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer
================================= */
.footer-top {
  background: #115c9b;
  height: 40px;
}

.main-footer {
  background: #1f76bd;
  color: #fff;
}

.main-footer .footer-main {
  padding: 30px 0;
}

.main-footer .footer-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-footer .footer-title .title-under {
  background: #fff;
  margin: 15px 0;
  text-align: left;
}

.main-footer .footer-title .title-under:after {
  margin: 0;
  background: #fff;
}

.main-footer .footer-content {
  text-align: justify;
  font-size: 13px;
}

.main-footer .tweet {
  font-size: 13px;
}

.main-footer .tweet:after {
  content: "";
  height: 1px;
  display: block;
  background: #115c9b;
  width: 150px;
  margin: 15px auto;
}

.main-footer .tweet:last-child:after {
  display: none;
}

.footer-bottom {
  background: #115c9b;
  padding: 3px;
}

.footer-form .form-group {
  margin-bottom: 5px;
}

.footer-form .form-control {
  background: #115c9b;
  color: #fff;
  border: 0;
  border-radius: 0;
  margin-bottom: 5px;
  border: 1px solid #fff;
  resize: none;
}

.footer-form .btn-submit {
  border-radius: 0;
  background: #115c9b;
  text-transform: uppercase;
  border: 1px solid #fff;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.footer-form .btn-submit:hover {
  background: #fff;
}

.footer-form input:-moz-placeholder,
.footer-form textarea:-moz-placeholder {
  color: #fff;
}

.footer-form input::-moz-placeholder,
.footer-form textarea::-moz-placeholder {
  color: #fff;
}

.footer-form input:-ms-input-placeholder,
.footer-form textarea:-ms-input-placeholder {
  color: #fff;
}

.footer-form input::-webkit-input-placeholder,
.footer-form textarea::-webkit-input-placeholder {
  color: #fff;
}

/* Contact US
================================= */
.contact-map {
  height: 350px;
  background: #ccc;
}

form .alert {
  display: none;
}


/* =============================================================================
	Module
========================================================================== */
.btn-primary {
  background: #115c9b;
  border: none;
  border-radius: 0;
  padding: 10px 25px;
  border: 1px solid transparent;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.btn-primary:hover {
  background: #fff;
  color: #1f76bd;
  border: 1px solid #1f76bd;
}

.btn-secondary {
  background: #fff;
  color: #1f76bd;
  border-radius: 0;
}

.btn-secondary:hover {
  background: #1f76bd;
  color: #fff;
}

.title-style-1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 50px;
}

.title-style-2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 25px;
}

.title-style-2 .title-under {
  display: block;
  margin: 5px 0;
}

.title-style-2 .title-under:after {
  margin: 0;
  margin-top: 10px;
}

.title-under {
  display: block;
  margin: 5px auto;
  background: #1f76bd;
  height: 1px;
  width: 280px;
}

.title-under:after {
  content: '';
  display: block;
  width: 100px;
  background: inherit;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
}

/* Slide Button
================================= */
.lightbox {
  position: relative;
  display: block;
  overflow: hidden;
}

.lightbox img {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.lightbox .on-hover {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  color: #fff;
  background: rgba(31, 118, 189, 0.75);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  -webkit-transition: all, 0.6s;
  transition: all, 0.6s;
}

.lightbox .on-hover .hover-caption {
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 5px;
  right: 5px;
  font-style: 18px;
  display: block;
  font-family: "Dosis", sans-serif;
  bottom: -50px;
  -moz-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  -webkit-transition: all, 0.6s;
  transition: all, 0.6s;
}

.lightbox .on-hover:before {
  content: "";
  display: block;
  width: 46px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -24px;
}

.lightbox:hover .on-hover {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.lightbox:hover .on-hover .hover-caption {
  bottom: 25px;
}

.lightbox:hover img {
  -moz-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
  -webkit-transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
  transform: perspective(1.15) scale3d(1.15, 1.15, 1.15);
}

/* Ow carousel
================================= */
.owl-next,
.owl-prev {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  border: 2px solid;
  text-align: center;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.owl-next:hover,
.owl-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.owl-next {
  left: auto;
  right: 0;
}

/* =============================================================================
	Responsive
========================================================================== */
/* Large devices (large desktops, 1200px and Down) */
@media (max-width: 1200px) {
  .navbar-header h2 {
    margin-left: 15px;
  }

  .about-us-col {
    padding: 15px;
  }

  #car-img {
    height: 700px;
  }
}

/* Medium devices (desktops, 992px and Donw) */
@media (max-width: 992px) {
  .navbar-header h2 {
    margin-left: 15px;
  }

  .carousel-home .carousel-title {
    font-size: 36px;
  }

  .carousel-home .carousel-subtitle {
    font-size: 18px;
  }

  .carousel-home .btn {
    margin-top: 15px;
  }

  .about-us-col {
    margin-bottom: 25px;
  }

  .footer-col {
    margin-bottom: 50px;
  }
}

/* Small devices (tablets, 768px and Down) */
@media (max-width: 768px) {
  .header-contact {
    text-align: center;
  }

  .header-contact li {
    margin: 0 !important;
  }

  .navbar-header h2 {
    margin-left: 15px;
  }

  #car-btn {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.3rem;
  }

  #res-img{
    width: 100%;
    border-radius: 10%;
  }

  .header-social {
    text-align: center;
  }

  .navbar-main #navbar {
    float: none !important;
  }

  .navbar-main #navbar a {
    border-bottom: none;
  }

  .navbar-main .navbar-brand {
    padding: 6px 15px;
  }

  .navbar-main .submenu {
    position: initial;
    display: none;
    width: 100%;
  }

  .navbar-main li:hover .submenu,
  .navbar-main li:active .submenu,
  .navbar-main li:focus .submenu {
    display: block;
  }

  .navbar-main li:hover .submenu li,
  .navbar-main li:active .submenu li,
  .navbar-main li:focus .submenu li {
    background: #115c9b;
    border-top-color: #1f76bd;
  }

  .carousel-home .carousel-title {
    font-size: 32px;
  }

  .carousel-home .carousel-subtitle {
    font-size: 16px;
  }

  .carousel-home .carousel-control {
    background: #1f76bd;
    height: 40px;
    width: 20px;
    top: 50%;
    margin-top: -20px;
  }

  .carousel-home .carousel-control .fa {
    font-size: 1.5em;
    padding-top: 4px;
  }

  #car-img {
    height: 550px;
  }

  .col-form {
    margin-bottom: 25px;
  }

  .authlogo {
    height: 50px;
  }
}

/* Extra Small devices (tablets, 480px and Down) */
@media (max-width: 480px) {
  .carousel-home .carousel-title {
    font-size: 16px;
    margin: 0;
  }

  .carousel-home .carousel-subtitle {
    font-size: 14px;
    margin: 0;
  }

  .carousel-home .carousel-indicators {
    bottom: 0;
  }

  .navbar-header h2 {
    margin-left: 15px;
  }

  #car-img {
    height: 400px;
  }
}

/* =============================================================================
	Animations
========================================================================== */
.animate-onscroll {
  visibility: hidden;
}

.animated {
  visibility: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.animated.fadeIn {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
